:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "open sans", sans-serif;
  margin: 0;
}
*:focus {
  outline: none;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color);
}
.page {
  background-color: #f1f5f9;
  min-height: 100vh;
}
/* start sidebar  */
.sidebar {
  width: 230px;
  box-shadow: 0 0 10px #ddd;
}
.sidebar > h3 {
  margin-bottom: 50px;
}
.sidebar > h3::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 2px;
  background-color: black;
  bottom: -20px;
}
.sidebar > h3::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: black;
  border: 4px solid white;
  bottom: -29px;
}
.sidebar ul li a {
  margin-bottom: 5px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.sidebar ul li a:hover,
.sidebar ul li a.active {
  background-color: #f6f6f6;
}
.sidebar ul li a span {
  margin-left: 10px;
  font-size: 14px;
}
@media (max-width: 768px) {
  .sidebar {
    width: 58px;
    padding: 10px;
  }
  .sidebar > h3 {
    font-size: 13px;
    margin-bottom: 15px;
  }
  .sidebar > h3::before,
  .sidebar > h3::after {
    display: none;
  }
  .sidebar ul li a span {
    display: none;
  }
}
/* end sidebar  */
/* start content head  */
.content {
  overflow: hidden;
}
.head .search::before {
  font-family: var(--fa-style-family-classic);
  content: "\f002";
  font-size: 14px;
  font-weight: 900;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  color: var(--grey-color);
}
.head .search input {
  margin-left: 5px;
  padding-left: 30px;
  width: 160px;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: width 0.3s;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -ms-transition: width 0.3s;
  -o-transition: width 0.3s;
}
.head .search input:focus {
  width: 200px;
}
.head .search input:focus::placeholder {
  opacity: 0;
}
.head .icon .notification::before {
  content: '';
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: var(--red-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  right: -5px;
  top: -3px;
}
.head .icon img {
  height: 25px;
  width: 25px;
  margin-left: 20px ;
  top: -6px;
}
.page h1 {
  margin: 20px 20px 40px;
  letter-spacing: -2px;
}
.page h1::before,
.page h1::after {
  content: '';
  position: absolute;
  height: 3px;
  bottom: -10px;
  left: 0;
}
.page h1::before {
  width: 130px;
  background-color: white;
}
.page h1::after {
  width: 50px;
  background-color: black;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .wrapper {
    grid-template-columns:  minmax(200px , 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
/* end content head  */
/* start welcome widget */
.welcome {
  overflow: hidden;
}
.welcome .intro img  {
  width: 200px;
  margin-left: -10px;
}
.welcome .avatar {
  width: 64px;
  height: 64px;
  margin-top: -32px;
  margin-left: 20px;
  padding: 2px;
  border: 1px solid white;
  border-radius: 50%;
  box-shadow: 0 0 5px #ddd;
}
.welcome .body {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.welcome .body > div {
  flex: 1;
}
.welcome .visit {
  margin: 0 15px 15px auto;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
@media (max-width: 768px) {
  .welcome .intro {
    padding-bottom: 30px;
  }
  .welcome .avatar {
    margin-left: 0;
  }
  .welcome .body > div {
    margin-bottom: 20px;
  }
}
/* end welcome widget */
/* start quick widget  */

.Quick-Draft  textarea {
  min-height: 180px;
  resize: none;
}
.Quick-Draft  .save{
  margin-left: auto;
  cursor: pointer;
}
/* end quick widget  */
/* start Targets */
.Targets .target-row .icon {
width: 80px;
height: 80px;
margin-right: 15px;
}
.Targets .datails {
  flex: 1;
}
.Targets .pogrees {
height: 4px;
}
.Targets .pogrees > span {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
}
.Targets .pogrees > span span {
  position: absolute;
  bottom: 16px;
  right: -16px;
  color: white;
  padding: 2px 5px;
  font-size: 12px;
  border-radius: 6px;
}
.Targets .pogrees > span span:after {
  content: '';
  position: absolute;
  border: 6px solid;

  width: 0;
  height: 0;
  bottom: -12px;
  left: 31%;
}
.Targets .pogrees > .orange span:after {
  border-color: var(--orange-color) transparent transparent transparent;
}
.Targets .pogrees > .mony span:after {
  border-color: var(--blue-color) transparent transparent transparent;
}
.Targets .pogrees > .green span:after {
  border-color: var(--green-color) transparent transparent transparent;
}
.mony .icon,
.mony .pogrees  {
  background-color: rgb(0 117 255 / 20%);
}
.orange .icon,
.orange .pogrees  {
  background-color: rgb(245 158 11 / 20%);
}
.green .icon,
.green .pogrees  {
  background-color: rgb(34 197 94 / 20%);
}
/* end Targets */
/* start tickets */
.Tickets .box {
  border: 1px solid #ccc;
  width: calc(50% - 10px);
}
@media (max-width: 768px) {
  .Tickets .box {
    width: calc(100%);
  }
}
/* end tickets */
/* start Latest News */
.latest-news .news-row:not(:last-of-type) {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.latest-news .news-row img {
  width: 100px;
  margin-right: 15px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.latest-news .info {
  flex-grow: 1;
}
.latest-news .info h3 {
  margin: 0 0 5px;
  font-size: 16px;
}
@media (max-width: 768px ) {
  .latest-news .news-row {
    display: block;
  }
  .latest-news .lable {
    margin: 10px auto;
    width: fit-content;
  }
}
/* end Latest News */
/* start latest tasks */
.latest-tasks .row-latest:not(:last-of-type) {
  margin-bottom: 14px ;
  padding-bottom: 14px ;
  border-bottom: 1px solid #eee;
}
.latest-tasks .info {
  flex-grow: 1;
}
.latest-tasks .del:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgb(255 255 255 / 60%); 
}
.latest-tasks .row-latest p {
  font-size: 16px;
}
.latest-tasks  .delete {
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.latest-tasks  .delete:hover {
  color: var(--red-color);
  width: 17px;
  height: 17px;
}
/* end latest tasks */
/* start Latest Uploads */
.latest-uploads ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.latest-uploads ul li img {
  width: 40px;
  height: 40px;
}
/* end Latest Uploads */
/* start Last Project Progres */
.last-progress ul::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  background-color: var(--blue-color);
  margin-left: 4px ;
}
.last-progress ul li::before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  margin-left: -6px;
  margin-right: 25px;
  border: 2px solid white;
  background-color: white;
  outline: 2px solid var(--blue-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 1;
}
.last-progress ul .done::before {
  background-color: var(--blue-color);
}
.last-progress ul .cournt::before {
  animation: 0.8s infinite alternate;
  -webkit-animation: change-color 0.7s infinite alternate;
}
.last-progress .lunch-icon {
  position: absolute;
  width: 180px;
  right: 30px;
  bottom: 60px;
  opacity: 0.4;
}
/* end Last Project Progres */
/* start Reminders */
.reminders ul li .key {
  width: 15px;
  height: 15px;
}
/*
  can here write 
  .reminders ul li div or
  .reminders ul li > .blue
 */
.reminders ul li div {
  border-left: 2px solid var(--blue-color) ;
}
.reminders ul li > .green {
  border-left: 2px solid var(--green-color) ;
}
.reminders ul li > .orange {
  border-left: 2px solid var(--orange-color) ;
}
.reminders ul li > .red {
  border-left: 2px solid var(--red-color) ;
}
/* end Reminders */
/* start Latest Post */
.latest-post .avatar {
  width: 48px;
  height: 48px;
}
.latest-post .post-content {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  min-height: 140px;
  text-transform: capitalize;
  line-height: 1.8;
}
.latest-post .post-foot i:hover {
  color: var(--blue-color);
  cursor: pointer;
}
/* end Latest Post */
/* Start Social Media Stats Widget */
.social-media .box {
  padding-left: 70px;
}
.social-media .box i {
  position: absolute;
  width: 52px;
  top: 0;
  left: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.social-media .box i:hover {
  transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -o-transform: rotate(5deg);
}
.social-media .twitter {
  background-color:rgb(29 161 242 / 20%); ;
  color: #1da1f2;
}
.social-media .twitter i,
.social-media .twitter a {
  background-color: #1da1f2;
}
.social-media .facebook {
  background-color:rgb(24 119 242 / 20%); ;
  color: #1877f2;
}
.social-media .facebook i,
.social-media .facebook a {
  background-color: #1877f2;
}
.social-media .youtube {
  background-color:rgb(255 0 0 / 20%); ;
  color: red;
}
.social-media .youtube i,
.social-media .youtube a {
  background-color: red;
}
.social-media .linkedin {
  background-color:rgb(0 119 181 / 20%); ;
  color: #0077b5;
}
.social-media .linkedin i,
.social-media .linkedin a {
  background-color: #0077b5;
}
/* end Social Media Stats Widget */
/* start Projects */
.projects .responsive {
  overflow-x: auto;
}
.projects table {
  min-width: 1000px ;
  border-spacing: 0;
}
.projects thead td {
  background-color: #eee;
}
.projects table td {
  padding: 15px;
}
.projects tbody td {
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  font-size: 15px;
}
.projects tbody tr:hover td {
  background-color: #fafafa;
}
.projects tbody td:last-child {
  border-right: 1px solid #eee;
  font-size: 13px;
}
.projects table img {
  width: 32px;
  height: 32px;
  padding: 2px;
  background-color: white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.projects table img:not(:first-child) {
  margin-left: -20px;
}
/* end Projects */
/* start settings */
.toggle-chackbox {
  appearance: none;
  display: none;
}
.toggle-switch {
  background-color: #ccc;
  width: 78px;
  height: 32px;
  border-radius: 16px;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}
.toggle-switch::before {
  font-family: var(--fa-style-family-classic);
  content: '\f00d';
  font-weight: 900;
  position: absolute;
  background-color: white;
  height: 24px;
  width: 24px;
  top: 4px;
  left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
} 
.toggle-chackbox:checked + .toggle-switch {
  background-color: var(--blue-color);
}
.toggle-chackbox:checked + .toggle-switch::before {
  content: '\f00c';
  left: 50px;
  color: var(--blue-alt-color);
}
.settings-page {
  grid-template-columns: repeat(auto-fill , minmax(500px , 1fr));
}
@media (max-width: 768px) {
  .settings-page {
    grid-template-columns: minmax(100px , 1fr);
    gap: 10px;
    margin-right: 10px;
    margin-left: 10px;
  }
}
/* start settings box */
.settings-page .close-message {
  min-height: 150px;
  resize: none;
  width: 100%;
  border: 1px solid #ccc;
}
/* end settings box */
/* start general */
.general .input-name {
  border: 1px solid #ccc;
}
.general .input-email {
  display: inline-flex;
  cursor: no-drop;
  background-color: #f0f4f8;
  color: #bbb;
  width: calc(100% - 80px);
  border: 1px solid #ccc;
}
/* end general */
/* start Social Info */
.settings-page .social-boxes i {
  height: 40px;
  width: 40px;
  border: 1px solid #ddd;
  background-color: #f6f6f6;
  border-right: 0;
  border-radius: 6px 0 0 6px;
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  -ms-border-radius: 6px 0 0 6px;
  -o-border-radius: 6px 0 0 6px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.settings-page .social-boxes input {
  height: 40px;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  padding-left: 10px;
} 
.settings-page .social-boxes > div:focus-within i {
  color: black;
}
/* end Social Info */
/* :start Widgets Control */
.widgets-control .control input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
}
.widgets-control .control label {
  padding-left: 30px;
  cursor: pointer;
  position: relative;
}
.widgets-control .control label::before,
.widgets-control .control label::after {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -9px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.widgets-control .control label::before {
  content: "";
  width: 14px;
  height: 14px;
  border: 2px solid var(--grey-color);
}
.widgets-control .control label:hover::before {
  border-color: var(--blue-alt-color);
}
.widgets-control .control label::after {
  font-family: var(--fa-style-family-classic);
  content: "\f00c";
  font-weight: 900;
  background-color: var(--blue-color);
  color: white;
  font-size: 12px;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0) rotate(360deg);
  transition: 0.3s;
}
.widgets-control .control input[type="checkbox"]:checked + label::after {
  transform: scale(1);
}
/* :end Widgets Control */
/* start Backup Manager */
.backup-manager input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
}
.backup-manager .date label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}
.backup-manager .date label::before {
  content: '';
  width: 18px;
  height: 18px;
  left: 0;
  top: 50%;
  margin-top: -11px;
  position: absolute;
  border: 1px solid var(--grey-color);
  transition: 0.3s;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.backup-manager .date label:hover::before {
  border-color: var(--blue-alt-color);
}
.backup-manager .date label::after {
  content: '';
  width: 12px;
  height: 12px;
  position: absolute;
  background-color: var(--blue-color);
  left: 4px;
  top: 4px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0) rotate(360deg);
  transition: 0.3s;
}
.backup-manager .date input[type="radio"]:checked + label::after {
  transform: scale(1);
}
.backup-manager .servers {
  padding-top: 15px;
  border-top: 1px solid #eee;
}
@media (max-width: 768px) {
  .backup-manager .servers {
    flex-wrap: wrap;
  }
}
.backup-manager .servers .server {
  border: 1px solid #eee ;
  padding: 10px 20px ;
  position: relative;
}
.backup-manager .servers .server label {
  cursor: pointer;
}
.backup-manager .servers input[type="radio"]:checked + .server {
  border-color: var(--blue-color);
  color: var(--blue-color);
}
/* end Backup Manager */
/* end settings */
/* start profile-page  */
@media (max-width: 767px) {
  .profile-page .overview {
    flex-direction: column;
  }
}
.profile-page .avatar-box {
  width: 300px;
}
@media (min-width: 768px) {
  .profile-page .avatar-box {
    border-right: 1px solid #eee;
  }
}
.profile-page .avatar-box > img {
  width: 120px;
  height: 120px;
}
.profile-page .avatar-box .level {
  height: 6px;
  overflow: hidden;
  margin: auto;
  width: 70%;
}
.profile-page .avatar-box .level span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: var(--blue-color);
  border-radius: 6px;
}
.profile-page .info-box .box {
  flex-wrap: wrap;
  border-bottom: 1px solid #eee;
  transition: 0.3s;
}
.profile-page .info-box .box:hover {
  background-color: #f9f9f9;
}
.profile-page .info-box .box > div {
  min-width: 300px;
  padding: 10px 0 0;
}
.profile-page .info-box h4 {
  font-weight: normal;
}
.profile-page .info-box .toggle-switch {
  height: 20px;
}
@media (max-width: 767px) {
  .profile-page .info-box .toggle-switch {
    margin: auto;
  }
}
.profile-page .info-box .toggle-switch::before {
  width: 12px;
  height: 12px;
  font-size: 8px;
}
.profile-page .info-box .toggle-checkbox:checked + .toggle-switch::before {
  left: 60px;
}
/* end Training Code */
/* start other data  */
@media (max-width: 767px) {
  .other-data {
    flex-direction: column;
  }
}
.other-data .card-skills {
  flex-grow: 1;
}
.other-data .card-skills ul li {
  padding: 20px 0;
}
.other-data .card-skills ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.other-data .card-skills ul li span {
  padding: 5px 10px;
  background-color: #eee;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  font-size: 14px;
}
.other-data .card-skills ul li span:not(:last-child) {
  margin: 10px 0 10px 5px;
}
.other-data .card-activites {
  flex-grow: 4;
}
.other-data .card-activites .activity:not(:last-of-type) {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  padding-bottom: 20px ;
}
.other-data .card-activites .activity img {
  width: 64px;
  height: 64px;
  margin-right: 10px;
}
@media (min-width: 768px) {
  .other-data .card-activites .activity .date {
    margin-left: auto;
  }
}
@media (max-width: 768px) {
  .other-data .activity {
    flex-direction: column;
  }
  .other-data .activity img {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .other-data .activity .date {
    margin-top: 15px;
  }
}
/* end other data  */
/* end profile-page  */
/* start Projects-page  */
.projects-page {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
@media (max-width: 767px) {
  .projects-page {
    grid-template-columns: minmax(200px, 1fr) ;
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
.projects-page .project .date {
  position: absolute;
  right: 10px;
  top: 10px;
}
.projects-page .project h4 {
  font-weight: normal;
}
.projects-page .project .team {
  position: relative;
  min-height: 80px;
  border-bottom: 1px solid #eee;
}
.projects-page .project .team a {
  position: absolute;
  left: 0;
  bottom: 10px;
}
.projects-page .project .team a:nth-child(2) {
  left: 25px;
}
.projects-page .project .team a:nth-child(3) {
  left: 50px;
}
.projects-page .project .team a:nth-child(4) {
  left: 75px;
}
.projects-page .project .team a:nth-child(5) {
  left: 100px;
}
.projects-page .project .team a:hover {
  z-index: 500;
}
.projects-page .project .team img {
  width: 40px;
  height: 40px;
  border: 2px solid white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
@media (max-width: 767px ) {
  .projects-page .project .do {
    flex-direction: column;
  }
}
.projects-page .project .do {
  justify-content: flex-end;
  padding-top: 15px;
  margin-top: 15px;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.projects-page .project .do span {
  padding: 3px 9px ;
  margin-left: 5px;
  width: fit-content;
  
}
@media (max-width: 767px ) {
  .projects-page .project .do span {
    margin-bottom: 15px;
  }
  .projects-page .project .info {
    flex-direction: column;
  }
}
.projects-page .project .info  {
margin-top: 15px;
padding-top: 15px;
}
@media (max-width: 767px ) { 
  .projects-page .project .info .prog {
    margin-bottom: 10px;
  }
}
.projects-page .project .info .prog  {
  position: relative;
  height: 8px;
  width: 260px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.projects-page .project .info .prog span {
  position: absolute;
  left: 0 ;
  top: 0;
  height: 100%;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
/* end Projects-page  */
/* start courses-page  */
.courses-page {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
@media (max-width: 767px) {
  .courses-page {
    grid-template-columns: minmax(200px, 1fr) ;
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
.courses-page .course {
  overflow: hidden;
}
.courses-page .course .cover {
  max-width: 100%;
}
.courses-page .course .instructor {
  position: absolute;
  width: 64px;
  height: 64px;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  border: 2px solid white;
}
.courses-page .course .info {
  font-size: 13px;
  border-top: 1px solid #eee;
}
.courses-page .course .info .title {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: -13px;
  height: 27px;
  font-size: 13px;
  cursor: pointer;
}
.courses-page .course .info span:not(:first-child):hover {
  color: var(--blue-color);
  cursor: context-menu;
}
.courses-page .course  .description {
  line-height: 1.6;
}
/* end courses-page  */
/* start friends-page  */
.friends-page {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
@media (max-width: 767px) {
  .friends-page {
    grid-template-columns: minmax(200px, 1fr) ;
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
.friends-page .friend .contact {
  position: absolute;
  left: 10px;
  height: 10px;
}
.friends-page .contact i {
  padding: 10px;
  font-size: 14px;
  color: #666;
  cursor: pointer;
  transition: 0.3s;
  background-color: #eee;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.friends-page .contact i:hover {
  color: white;
  background-color: var(--blue-color);
}
.friends-page .friend .icons {
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.friends-page .friend .icons i {
  margin-right: 5px;
}
.friends-page .friend .icons .vip {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  font-size: 40px;
  color: rgb(245 158 11 / 30%);
}
/* end friends-page  */
/* start Files */
.File-page {
  flex-direction: row-reverse;
}
@media (max-width: 767px) {
  .File-page {
    flex-direction: column;
    align-items: normal;
  }
}
.File-page .stats {
  min-width:260px;
}
.File-page .stats .icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.File-page .stats .size {
  margin-left: auto;
}
.File-page .stats .blue {
  background-color: rgb(0 117 255 / 20%);
}
.File-page .stats .green {
  background-color: rgb(34 197 94 / 20%);
}
.File-page .stats .red {
  background-color: rgb(244 67 54 / 20%);
}
.File-page .stats .orange {
  background-color: rgb(245 158 11 / 20%);
}
.File-page .stats .upload {
  margin: 15px auto 0;
  padding: 17px 15px;
  font-size: 17px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.File-page .stats .upload:hover {
  background-color: var(--blue-alt-color);
}
.File-page .stats .upload i {
  animation: go-up 0.8s infinite ;
  -webkit-animation: go-up 0.8s infinite ;
}
.File-page .file-content {
  flex: 1;
  grid-template-columns:repeat(auto-fill, minmax(200px , 1fr));
} 
.File-page .file-content .file i {
  color: rgb(0 117 255 / 50%);
}
.File-page .file-content .file i:hover {
  color: var(--blue-color);
}
.File-page .file-content img {
  width: 64px;
  height: 64px ;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.File-page .file-content img:hover {
  transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -o-transform: rotate(5deg);
}
.File-page .file-content .info {
  border-top: 1px solid #eee ;
}
/* end Files */
/* start plans */
.plans-page {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
}
@media (max-width: 767px) {
  .plans-page {
    grid-template-columns: minmax(250px, 1fr) ;
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
.plans-page .plan .top {
  border: 3px solid white;
  outline: 3px solid transparent;
}
.plans-page .plan .green {
  outline: 3px solid var(--green-color);
}
.plans-page .plan .blue {
  outline: 3px solid var(--blue-color);
}
.plans-page .plan .orange {
  outline: 3px solid var(--orange-color);
}
.plans-page .plan .top .price {
  font-size: 40px;
  width: fit-content;
  margin: auto;
  position: relative;
}
.plans-page .plan .top .price span {
  position: absolute;
  left: -20px;
  top: -10px;
  font-size: 30px;
}
.plans-page .plan ul li {
  padding: 15px;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  font-size: 15px;
}
.plans-page .plan ul li .yes {
  color: var(--green-color);
}
.plans-page .plan ul li i:not(.yes, .help) {
  color: red;
}
.plans-page .plan ul li .help {
  margin-left: auto;
  cursor: pointer;
  color: var(--grey-color);
}
.plans-page .plan ul li :not(.hlep) {
  margin-right: 5px;
}
/* end plans */
/* start animation */
@keyframes change-color {
  from {
    background-color: var(--blue-color);
  }
  to {
    background-color: white;
  }
}
@keyframes go-up {
  0% , 100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
50% {
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}
}
/* end animation */
